<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>SM Realestate</title>

		<link rel="stylesheet" href='../css/bootstrap.min.css'/>
		<link rel="stylesheet" href='../css/home.css'/>

		<link rel="stylesheet" href="../css/font-awesome/css/font-awesome.min.css">

		<script type="text/javascript" charset="utf-8" language="javascript" 
			src="../js/jquery.min.js">
		</script>
		<script type="text/javascript" charset="utf-8" language="javascript" 
			src="../js/bootstrap.min.js"></script>
		<script type="text/javascript" charset="utf-8" language="javascript" 
			src="../js/vue.js"></script>
		<script type="text/javascript" charset="utf-8" language="javascript" 
			src="../js/home.js"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
		<script src="http://maps.google.com/maps/api/js?sensor=true&libraries=places,weather"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body id="app">
	    <nav class="navbar navbar-inverse app-nav">
		    <div class="container-fluid">
		      <!-- Brand and toggle get grouped for better mobile display -->
		      <div class="navbar-header">
		        <a class="navbar-brand fa fa-building-o fa-2x" href="#">
		        SivaMani Real Estate</a>
		      </div>

		      <!-- Collect the nav links, forms, and other content for toggling -->
		      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		        <ul class="nav navbar-nav navbar-right">
		        	<li v-for="ap in navApps" v-bind:class="activeApp == ap ? 'active' : ''">
		        		<a class="apps" v-on:click="switchApp(ap)" v-text="ap"></a>
		        	</li>
		        </ul>
		      </div><!-- /.navbar-collapse -->
		    </div><!-- /.container-fluid -->
	    </nav>

	    <div class="container app-container">
		    <home v-if="activeApp == 'Home'"></home>
		    <buy v-if="activeApp == 'Buy'"></buy>
		    <sell v-if="activeApp == 'Sell'"></sell>
		    <rent v-if="activeApp == 'Rent'"></rent>
	    	<about v-if="activeApp == 'About'"></about>
	    	<contact v-if="activeApp == 'Contact'"></contact>
	    </div>

        <!-- <div v-if="activeApp == 'Contact'">
    	    <div id="map" style="width:100%;height:500px"></div>

    		<script v-if="activeApp == 'Buy' ">
    		function myMap() {
    		  var mapCanvas = document.getElementById("map");
    		  var mapOptions = {
    		    center: new google.maps.LatLng(51.5, -0.2),
    		    zoom: 10
    		  }
    		  var map = new google.maps.Map(mapCanvas, mapOptions);
    		}
    		</script>

    		<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
    	</div>
 -->
    	<nav class="nav-foo navbar navbar-inverse">
		    <div class="container-fluid">
		      <!-- Brand and toggle get grouped for better mobile display -->
		      <div class="navbar-footer">
		        <a class="navbar-brand fa fa-building-o fa-2x" href="#">
		        All Rights 2016 @ babymaneesha.sunkara
				</a>
		      </div>

		      <!-- Collect the nav links, forms, and other content for toggling -->
		      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		        <ul class="nav navbar-nav navbar-right">
		        	<li><a href="www.google.com" class="fa fa-google"></a></li>
		        	<li><a href="www.facebook.com" class="fa fa-facebook"></a></li>
		        	<li><a href="www.twitter.com" class="fa fa-twitter"></a></li>
		        	<li><a href="www.instagram.com" class="fa fa-instagram"></a></li>
		        	<li><a href="www.blog.com" class="fa fa-rss"></a></li>
		        </ul>
		      </div><!-- /.navbar-collapse -->
		    </div><!-- /.container-fluid -->
	    </nav>

	</body>
</html>


<script type="text/x-template" id="app-home">

<div class="container app-container">
	<div class="row">
		<!-- Carousel -->
    	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
			  	<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>
			<!-- Wrapper for slides -->
			
			<div class="carousel-inner">
			    <div class="item" v-for="im in homeImages" 
			    v-bind:class="im == currentImage ? 'active' : ''">
			    	<img src="../images/{{im}}" alt="First slide">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>
                            	<span>Welcome to <strong>SivaMani Real Estate</strong></span>
                            </h2>
                            <br>
                            <h3>
                            	<span>"The most complete source of homes for sale & real estate near you"</span>
                            </h3>
                             <br><br>
                             <div class="input-group">
                               <input type="text" class="form-control" 
                               v-model="recentPropsSearchKey" 
                               placeholder="Search for Properties by City, Zipcode, or Address....">
                               <div class="input-group-btn">
                                 <button class="btn btn-default" type="button">
                                 <i class="fa fa-search"></i> Search</button>
                               </div>
                             </div><!-- /input-group -->
                        </div>
                    </div><!-- /header-text -->
			    </div>
			</div>

			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
		    	<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		    	<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div><!-- /carousel -->
	</div>
</div>
<div v-if="showProp">
<div class="container">
	<nav class="navbar navbar-default">
	    <div class="container-fluid">
	      <!-- Brand and toggle get grouped for better mobile display -->
	      <div class="navbar-header">
	        <a class="navbar-brand fa fa-home fa-2x" href="#">
			Recently added Properties....</a>
	      </div>
	    </div><!-- /.container-fluid -->
    </nav>

    <div class="row">
      <div class="col-sm-6 col-md-3" v-for="rp in recentProps | filterBy recentPropsSearchKey">
        <div class="thumbnail">
          <img src="../images/{{rp.img}}" alt="...">
          <div class="caption">
            <h4>{{rp.address}}</h4>
            <p class="row">
            	<p class="col-sm-6 col-md-6">
            	Width: {{rp.width}}
            	</p>
            	<p class="col-sm-6 col-md-6">
            	Depth: {{rp.depth}}
            	</p>
            </p>
            <p class="row">
            	<p class="col-sm-6 col-md-6">
            	Type: {{rp.type}}
            	</p>
            	<p class="col-sm-6 col-md-6">
            	Face: {{rp.face}}
            	</p>
            </p>
            <p class="re-btn">
            	<a href="#" class="btn btn-primary" role="button" 
            	v-on:click="getDetails(rp)">Details</a> 
				<a href="#" class="btn btn-default" role="button" 
				v-on:click="getContact()">Contact</a>
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
<div v-else>
	<prop :selected-prop="selectedProp"></prop>
</div>
</script>


<script type="text/x-template" id="app-buy">
<div v-if="showProp">
	<div v-if="showProp">
		<div class="app-search input-group">
		  <input type="text" class="form-control" v-model="buyPropsSearchKey"
		  	placeholder="Search for Properties by City, Zipcode, or Address....">
		  <div class="input-group-btn">
		    <button class="btn btn-default" type="button">
		    <i class="fa fa-search"></i> Search</button>
		  </div>
		</div><!-- /input-group -->
		<div class="app-buy-div">
			<div class="canvas">
				<div v-for="bp in buyProps | filterBy buyPropsSearchKey">
					<div class="row">
						<b class="col col-head""><a v-text="bp.address"></a></b>
					</div>
					<div class="row">
						<div class="col">
							<img class="app-img" src="../images/{{bp.img}}">
						</div>
						<div class="col">
							<span>Type : {{bp.type | capitalize}}</span><br/>
							<span>Sqft : {{bp.width}} x {{bp.depth}}</span><br/>
							<span>Face : {{bp.face}}</span><br/>
						</div>
						<div class="col col-prize">
							<span>{{bp.price}}</span><br>
							<span>Price per Sqft: {{bp.sqprice}}</span><br>
							<span>Est. Payment: {{bp.estprice}}</span>
						</div>
						<!-- <div class="col">
							<img class="app-img map-img" src="../images/maps.jpg"><br>
							<span class="map-span"><a>Click to to View Near by Places</a></span>
						</div> -->
						<div class="col">
							<!-- <i class="col-foo fa fa-heart-o"> Save </i>
							<a class="col-foo"><i class="fa fa-envelope-o"></i> Request Info</a> -->
							<button class="col-foo btn btn-info" v-on:click="getDetails(bp)"> Details 
								<i class="fa fa-chevron-circle-right"></i></button>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<i class="col-foo fa" v-on:click="bp.save = !bp.save"
							v-bind:class="bp.save ? 'fa-heart' : 'fa-heart-o'"> Save </i>
							<a class="col-foo"><i class="fa fa-envelope-o"></i> Request Info</a>
						</div>
					</div>
					<hr/>
				</div>
			</div>


			<nav aria-label="...">
			  <ul class="pager">
			    <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
			    <li class="next disabled"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
			  </ul>
			</nav>
		</div>
	</div>
</div>

<div v-else>
	<prop :selected-prop="selectedProp"></prop>
</div>
</script>

<script type="text/x-template" id="app-sell">
	<h3 class="app-sell-div">Please Submit your property details here</h3>
	<contact></contact>
</script>

<script type="text/x-template" id="app-rent">
<div v-if="showProp">
	<div class="app-search input-group">
	  <input type="text" class="form-control" v-model="rentPropsSearchKey"
	  	placeholder="Search for Properties by City, Zipcode, or Address....">
	  <div class="input-group-btn">
	    <button class="btn btn-default" type="button">
	    <i class="fa fa-search"></i> Search</button>
	  </div>
	</div><!-- /input-group -->
<div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3" v-for="rp in rentProps | filterBy rentPropsSearchKey">
        <div class="thumbnail">
          <img src="../images/{{rp.img}}" alt="...">
          <div class="caption">
            <h4>{{rp.address}}</h4>
            <p class="row">
            	<p class="col-sm-6 col-md-6">
            	Width: {{rp.width}}
            	</p>
            	<p class="col-sm-6 col-md-6">
            	Depth: {{rp.depth}}
            	</p>
            </p>
            <p class="row">
            	<p class="col-sm-6 col-md-6">
            	Type: {{rp.type}}
            	</p>
            	<p class="col-sm-6 col-md-6">
            	Face: {{rp.face}}
            	</p>
            </p>
            <p class="re-btn">
            	<a href="#" class="btn btn-primary" role="button" 
            	v-on:click=getDetails(rp)>Details</a> 
				<a href="#" class="btn btn-default" role="button"
				v-on:click="getContact()">Contact</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <nav aria-label="...">
	  <ul class="pager">
	    <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
	    <li class="next disabled"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
	  </ul>
	</nav>
</div>
</div>
<div v-else>
	<prop :selected-prop="selectedProp"></prop>
</div>
</script>


<script type="text/x-template" id="app-about">
	<div class="app-about-div">
		<p>
			We are real estate professionals with focus on sale of property, purchase of property, relocation services, property investments, property advise, real estate solutions, property management in furnished accommodation, rental services for commercial space, retail space, builder floors, sale / purchase and call centre space.
		</p>
		<p>
			The team at Lewech Properties specializes in New & Resale Residential & Commercial Property, Plots, Investment Opportunities, and all other Real Estate related activities.
		</p>
		<p>
			Please feel free to browse our featured listings. If you still don't find the home or Real Estate of your dreams there, please email us so we can start looking for the Property for you.
		</p>
		<p>
			Thanks once again for visiting www.lewechproperties.com - our online real estate source. For any real estate questions, please feel free to contact us by phone or email and we shall be glad to assist you.
		</p>
		<p>
			The relationship between a home buyer or seller and their agent is based on trust, shared goals and understanding. We strive to continually to maintain and enhance this relationship.
		</p>
	</div>
</script>

<script type="text/x-template" id="app-contact">
<div class="app-contact-div">
<form class="app-contact-form">
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Mobile Number</label>
    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Mobile Number">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleSelect1">Select Purpose</label>
    <select class="form-control" id="exampleSelect1">
      <option>Buy</option>
      <option>Sell</option>
      <option>Rent</option>
      <option>Other</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleTextarea">More Details</label>
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
  </div>
  <div class="form-group" v-if="activeApp != 'Contact'">
    <label for="exampleInputFile">Upload Your Property Details</label>
    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</script>

<script type="text/x-template" id="app-prop">
	<div class="prop-back">
		<button class="btn btn-default" v-on:click="goBack()">
			<i class="fa fa-chevron-circle-left"></i> Go Back </button>
	</div>
	<div class="prop-div row">
		<div class="col">
			<h3 v-text="selectedProp.address"></h3>
			<img class="app-img-2x" src="../images/{{selectedProp.img}}"><br>
			<h4 class="row head">Near by Places : </h4>
		</div>
		<div class="col">
			<h4>Details : </h4>
			<span>Type : {{selectedProp.type}}</span><br><br>
			<span>Model : {{selectedProp.model}}</span><br><br>
			<span>Dimensios : {{selectedProp.width}} x {{selectedProp.depth}}</span><br><br>
			<span>BedRooms : {{selectedProp.bedrooms}}</span><br><br>
			<span>Face : {{selectedProp.face}}</span><br><br>
			<span>Price : {{selectedProp.price}}</span><br><br>
			<span>Price per Sqft : {{selectedProp.sqprice}}</span><br><br>
			<span>Est. Payment : {{selectedProp.estprice}}</span>
		</div>
	</div>
	<div class="prop-div row">
		<div v-for="(k,v) in selectedProp.nearBy" class="col">
			<b>{{k | capitalize}} : </b><br>
			<span v-for="vl in v">
				{{vl.name}} - {{vl.distance}} <br>
			</span>
		</div>
	</div>
	<div class="prop-div row">
		<div class="col">
			<div id="map"></div>
		</div>							
	</div>
	<div class="prop-div row">
		<div class="col">
			<i class="col-foo fa" v-on:click="selectedProp.save = !selectedProp.save"
			v-bind:class="selectedProp.save ? 'fa-heart' : 'fa-heart-o'"> Save </i>
		</div>
		<div class="col">
			<button class="col-foo btn btn-info" v-on:click="getContact()">
			<i class="fa fa-phone"></i> Contact </button>
		</div>
	</div>
</script>